<a href="https://colab.research.google.com/github/agderegibus/MarketAnalysis/blob/master/MonitorDeON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [120]:
import pandas as pd

In [122]:
with open("CUENTAS.xlsx",mode="rb") as excel_file:
    CUENTAS = pd.read_excel("CUENTAS.xlsx")
cuentas = CUENTAS.drop(labels=['CUIT/CUIL/CDI',"Persona", 'MC'], axis=1)
print(cuentas)

     CODIGOCUENTA  Persona ID  MC Cód. Tipo Cuenta
0            1001           2      320          AN
1            1004        2752        4    Terceros
2            1005        4873        5    Terceros
3           10062        2257      324      Propia
4            1008          10        8    Terceros
..            ...         ...      ...         ...
746         98100       20629       51      Propia
747          9822        6425      128      Propia
748          9861        6458      299      Propia
749          9954        4088      133      Propia
750          9980        1932      131      Propia

[751 rows x 4 columns]

In [123]:
219    26.0         1026         1026.0   
3331  415.0         1415       158170.0   
3559  327.0         1327        15935.0   
4668  345.0         1345        92795.0   
4765  345.0         1345       100244.0   
4823  345.0         1345        78391.0   
5249  356.0         1356         1356.0   
5261  356.0        35719        35719.0   
5762  334.0        54500        29192.0   
5831  378.0         1378         1378.0   
5844  379.0         1379       158654.0   
7832  175.0       148000       148000.0

SyntaxError: ignored

In [124]:
SALDOS = pd.read_excel("SALDITOS.xlsx", 'Detalle')
#inicial = (SE[SE["Estado"] == "Inicial"]).sort_values("MC Código")

In [125]:
# CONSEGUIR SOLO LAS QUE TIENEN SOLICITUD DE EXTRACCIO

EXTRAC = SALDOS[SALDOS['Egreso No Verificado'] != 0]
df = EXTRAC.astype({"Cuenta Liquidación Código": int}, errors='raise')
df.rename(columns = {'Cuenta Liquidación Código':'CODIGOCUENTA'}, inplace = True)

print(df)

       ALyC  CODIGOCUENTA  Cuenta Código  \
471   320.0          1140         3326.0
756   218.0          1218       157951.0
2037  313.0          1313        89071.0
2484  405.0          1405        98120.0
2486  405.0          1405       101663.0
2779  405.0          1405        60583.0
2781  405.0          1405        41396.0
2784  405.0          1405       142175.0
2833  405.0          1405        34584.0
2894  405.0          1405        92553.0
2901  405.0          1405        98119.0
3005  405.0          1405        59738.0
3652  419.0          1419        72615.0
3776  323.0          1323       100967.0
4342  329.0          1329       160390.0
4351  329.0          1329        72372.0
4419  325.0         13875        13875.0
4568  334.0          1334        29404.0
5128  345.0          1345        85614.0
5161  345.0          1345       148594.0
5177  345.0          1345       155528.0
5217  345.0          1345        91816.0
5254  345.0          1345        78837.0
5288  345.0          1345       157183.0
5592  320.0          1801        59047.0
5616  475.0          1475        68342.0
5750  354.0          1354       102366.0
6176  320.0          1806         1806.0
6599  320.0          1815        95482.0
6664  320.0          1941        69959.0
6670  320.0          1941        70642.0
7430  320.0          1806       102067.0
7463  168.0          1168       148761.0
7930  320.0          1933       159061.0
8188  383.0          1383       144765.0
8232  354.0         33387        33387.0
8397    5.0         82000        82000.0

                                                 Cuenta Finalidad Moneda  \
471                                          COMSA S.A.  Márgenes  Pesos
756               EMPRESA DUVAL FLORES SOCIEDAD ANONIMA  Márgenes  Pesos
2037                                  PACHECO CHAPAS SA  Márgenes  Pesos
2484                              PERRI LILIANA BEATRIZ  Márgenes  Pesos
2486                                   CAMPOS JOSE LUIS  Márgenes  Pesos
2779                                   AMADO JORGE LUIS  Márgenes  Pesos
2781                                  VAZQUEZ ALBERTINA  Márgenes  Pesos
2784                               CRUZ LUCIANA SOLEDAD  Márgenes  Pesos
2833                           RAMIREZ FERNANDO GABRIEL  Márgenes  Pesos
2894                            VILLARES DANIEL ALBERTO  Márgenes  Pesos
2901                                       CAMPOS CARLA  Márgenes  Pesos
3005                                 MITRE CARLA MELINA  Márgenes  Pesos
3652                INSUMOS Y SERVICIOS INDUSTRIALES SA  Márgenes  Pesos
3776                           BVSA SD RJ DELTA MONEDA   Márgenes  Pesos
4342                       T R O P E A SOCIEDAD ANONIMA  Márgenes  Pesos
4351                                  ARIS SILVIA MARIA  Márgenes  Pesos
4419                     JP MORGAN OVERSEAS CAPITAL LLC  Márgenes  Pesos
4568                  BANCO INDUSTRIAL SOCIEDAD ANONIMA  Márgenes  Pesos
5128                      BANCO COMAFI SOCIEDAD ANONIMA  Márgenes  Pesos
5161                                SERRANO JUAN CARLOS  Márgenes  Pesos
5177                                    DISTRINANDO S A  Márgenes  Pesos
5217                                GESTION LABORAL S A  Márgenes  Pesos
5254  INDUSTRIAL AND COMMERCIAL BANK OF CHINA (ARGEN...  Márgenes  Pesos
5288                                    SEGOVIA AGUSTIN  Márgenes  Pesos
5592                                       MAPSA S.R.L.  Márgenes  Pesos
5616                               GEAR S A A I C F E I  Márgenes  Pesos
5750                                LA GOLDEN AGRO S.A.  Márgenes  Pesos
6176                               MULTIPLO BURSATIL SA       MTM  Pesos
6599      STENFAR S.A. INDUSTRIAL COMERCIAL IMP. Y EXP.  Márgenes  Pesos
6664                            MAGRINI CLAUDIO ALBERTO  Márgenes  Pesos
6670                                    TRANSINLAND SRL  Márgenes  Pesos
7430                          MARTINEZ FERNANDO NICOLAS  Márgenes  Pesos
7463                                 IRIARTE JUAN PABLO  Márgenes  Pesos
7930                              MUSSA EDUARDO ALBERTO  Márgenes  Pesos
8188  PROYECTO VIDA - LABORATORIOS RICHMOND FIDEICOM...  Márgenes  Pesos
8232                             ZOFINGEN SECURITIES SA  Márgenes  Pesos
8397                                   BANCO JULIO S.A.  Márgenes  Pesos

      Saldo Inicial  Movimientos Verificados  Ingreso No Verificado  \
471    8.226407e+06             0.000000e+00           0.000000e+00
756    1.627550e+06             0.000000e+00           0.000000e+00
2037   2.731359e+07             5.244878e+04           0.000000e+00
2484   9.039917e+05             0.000000e+00           0.000000e+00
2486   1.100046e+06             0.000000e+00           0.000000e+00
2779   1.434127e+06             0.000000e+00           0.000000e+00
2781   7.861080e+05            -7.720450e+05           0.000000e+00
2784   3.498880e+03             0.000000e+00           0.000000e+00
2833   6.513287e+05             0.000000e+00           0.000000e+00
2894   6.337982e+05             0.000000e+00           0.000000e+00
2901   7.844396e+05             0.000000e+00           0.000000e+00
3005  -2.423930e+03             0.000000e+00           0.000000e+00
3652  -1.550025e+05             1.365421e+06           0.000000e+00
3776   2.422571e+07             3.316800e+07           0.000000e+00
4342   6.238900e+05             0.000000e+00           0.000000e+00
4351   1.346955e+05             0.000000e+00           0.000000e+00
4419   3.343075e+08             0.000000e+00           0.000000e+00
4568   9.950400e+06             0.000000e+00           0.000000e+00
5128   1.326206e+07             0.000000e+00           1.011400e+08
5161   2.371149e+06             7.716861e+04           0.000000e+00
5177   3.750614e+07             1.059177e+05           0.000000e+00
5217   2.379917e+07             1.210488e+05           0.000000e+00
5254   5.146880e+06             1.774878e+06           0.000000e+00
5288   3.102662e+05             2.269660e+03           0.000000e+00
5592   2.309298e+06             3.632580e+06           0.000000e+00
5616   3.563980e+07            -1.226064e+07           0.000000e+00
5750   1.036980e+06             0.000000e+00           0.000000e+00
6176  -2.833890e+06             4.133890e+06           0.000000e+00
6599   5.481679e+05             1.199205e+07           0.000000e+00
6664   2.301483e+05             1.844889e+06           1.124584e+06
6670   7.825678e+04             0.000000e+00           5.626422e+05
7430   4.011680e+04             0.000000e+00           0.000000e+00
7463   2.123018e+05             0.000000e+00           0.000000e+00
7930   7.440788e+04             5.335232e+06           0.000000e+00
8188   1.046400e+07             3.832000e+07           0.000000e+00
8232   4.718880e+06             0.000000e+00           0.000000e+00
8397   4.795674e+06             0.000000e+00           2.211200e+07

      Egreso No Verificado  Saldo Final Verificado  Saldo Final No Verificado  \
471          -3.100400e+02            8.226407e+06               8.226097e+06
756          -8.623680e+05            1.627550e+06               7.651815e+05
2037         -8.371370e+06            2.736604e+07               1.899467e+07
2484         -9.065537e+05            9.039917e+05              -2.561970e+03
2486         -1.093120e+06            1.100046e+06               6.925950e+03
2779         -1.430664e+06            1.434127e+06               3.462660e+03
2781         -1.406300e+04            1.406300e+04               0.000000e+00
2784         -3.264630e+03            3.498880e+03               2.342500e+02
2833         -6.498617e+05            6.513287e+05               1.466960e+03
2894         -6.314283e+05            6.337982e+05               2.369880e+03
2901         -6.613376e+05            7.844396e+05               1.231020e+05
3005         -3.782607e+04           -2.423930e+03              -4.025000e+04
3652         -1.100000e+06            1.210418e+06               1.104183e+05
3776         -5.197470e+07            5.739371e+07               5.419014e+06
4342         -5.842900e+05            6.238900e+05               3.960000e+04
4351         -5.639554e+04            1.346955e+05               7.830000e+04
4419         -3.439618e+08            3.343075e+08              -9.654250e+06
4568         -9.950400e+06            9.950400e+06               0.000000e+00
5128         -1.017600e+08            1.326206e+07               1.264202e+07
5161         -7.716861e+04            2.448317e+06               2.371149e+06
5177         -1.059177e+05            3.761206e+07               3.750614e+07
5217         -1.210488e+05            2.392022e+07               2.379917e+07
5254         -1.774878e+06            6.921758e+06               5.146880e+06
5288         -2.269660e+03            3.125359e+05               3.102662e+05
5592         -2.801395e+06            5.941878e+06               3.140483e+06
5616         -2.802056e+05            2.337916e+07               2.309895e+07
5750         -9.814928e+05            1.036980e+06               5.548695e+04
6176         -1.300000e+06            1.300000e+06               0.000000e+00
6599         -1.196624e+07            1.254022e+07               5.739825e+05
6664         -2.857500e+06            2.075037e+06               3.421210e+05
6670         -6.407260e+05            7.825678e+04               1.729300e+02
7430         -4.011680e+04            4.011680e+04              -2.000000e-03
7463         -2.123018e+05            2.123018e+05               0.000000e+00
7930         -5.335000e+06            5.409640e+06               7.463988e+04
8188         -2.390400e+07            4.878400e+07               2.488000e+07
8232         -4.718880e+06            4.718880e+06               0.000000e+00
8397         -2.195200e+07            4.795674e+06               4.955674e+06

      Requerido Del Día  Saldo Consolidado Verificado  \
471        0.000000e+00                  8.226407e+06
756        2.896522e+04                  1.656515e+06
2037      -1.070000e+07                  1.666604e+07
2484       0.000000e+00                  9.039917e+05
2486       0.000000e+00                  1.100046e+06
2779       0.000000e+00                  1.434127e+06
2781       0.000000e+00                  1.406300e+04
2784       0.000000e+00                  3.498880e+03
2833       0.000000e+00                  6.513287e+05
2894       0.000000e+00                  6.337982e+05
2901       0.000000e+00                  7.844396e+05
3005       0.000000e+00                 -2.423930e+03
3652       0.000000e+00                  1.210418e+06
3776       0.000000e+00                  5.739371e+07
4342       0.000000e+00                  6.238900e+05
4351       0.000000e+00                  1.346955e+05
4419       2.787890e+07                  3.621864e+08
4568       0.000000e+00                  9.950400e+06
5128       0.000000e+00                  1.326206e+07
5161       0.000000e+00                  2.448317e+06
5177       0.000000e+00                  3.761206e+07
5217       0.000000e+00                  2.392022e+07
5254       0.000000e+00                  6.921758e+06
5288       0.000000e+00                  3.125359e+05
5592       0.000000e+00                  5.941878e+06
5616       0.000000e+00                  2.337916e+07
5750       0.000000e+00                  1.036980e+06
6176       0.000000e+00                  1.300000e+06
6599       0.000000e+00                  1.254022e+07
6664      -2.141250e+05                  1.860912e+06
6670      -1.544750e+05                 -7.621822e+04
7430       0.000000e+00                  4.011680e+04
7463       0.000000e+00                  2.123018e+05
7930       0.000000e+00                  5.409640e+06
8188       0.000000e+00                  4.878400e+07
8232       0.000000e+00                  4.718880e+06
8397       0.000000e+00                  4.795674e+06

      Saldo Consolidado No Verificado
471                      8.226097e+06
756                      7.941467e+05
2037                     8.294673e+06
2484                    -2.561970e+03
2486                     6.925950e+03
2779                     3.462660e+03
2781                     0.000000e+00
2784                     2.342500e+02
2833                     1.466960e+03
2894                     2.369880e+03
2901                     1.231020e+05
3005                    -4.025000e+04
3652                     1.104183e+05
3776                     5.419014e+06
4342                     3.960000e+04
4351                     7.830000e+04
4419                     1.822465e+07
4568                     0.000000e+00
5128                     1.264202e+07
5161                     2.371149e+06
5177                     3.750614e+07
5217                     2.379917e+07
5254                     5.146880e+06
5288                     3.102662e+05
5592                     3.140483e+06
5616                     2.309895e+07
5750                     5.548695e+04
6176                     0.000000e+00
6599                     5.739825e+05
6664                     1.279960e+05
6670                    -1.543021e+05
7430                    -2.000000e-03
7463                     0.000000e+00
7930                     7.463988e+04
8188                     2.488000e+07
8232                     0.000000e+00
8397                     4.955674e+06

In [126]:
df = df.merge(cuentas,on='CODIGOCUENTA',how="left")
print(df)

     ALyC  CODIGOCUENTA  Cuenta Código  \
0   320.0          1140         3326.0
1   218.0          1218       157951.0
2   313.0          1313        89071.0
3   405.0          1405        98120.0
4   405.0          1405       101663.0
5   405.0          1405        60583.0
6   405.0          1405        41396.0
7   405.0          1405       142175.0
8   405.0          1405        34584.0
9   405.0          1405        92553.0
10  405.0          1405        98119.0
11  405.0          1405        59738.0
12  419.0          1419        72615.0
13  323.0          1323       100967.0
14  329.0          1329       160390.0
15  329.0          1329        72372.0
16  325.0         13875        13875.0
17  334.0          1334        29404.0
18  345.0          1345        85614.0
19  345.0          1345       148594.0
20  345.0          1345       155528.0
21  345.0          1345        91816.0
22  345.0          1345        78837.0
23  345.0          1345       157183.0
24  320.0          1801        59047.0
25  475.0          1475        68342.0
26  354.0          1354       102366.0
27  320.0          1806         1806.0
28  320.0          1815        95482.0
29  320.0          1941        69959.0
30  320.0          1941        70642.0
31  320.0          1806       102067.0
32  168.0          1168       148761.0
33  320.0          1933       159061.0
34  383.0          1383       144765.0
35  354.0         33387        33387.0
36    5.0         82000        82000.0

                                               Cuenta Finalidad Moneda  \
0                                          COMSA S.A.  Márgenes  Pesos
1               EMPRESA DUVAL FLORES SOCIEDAD ANONIMA  Márgenes  Pesos
2                                   PACHECO CHAPAS SA  Márgenes  Pesos
3                               PERRI LILIANA BEATRIZ  Márgenes  Pesos
4                                    CAMPOS JOSE LUIS  Márgenes  Pesos
5                                    AMADO JORGE LUIS  Márgenes  Pesos
6                                   VAZQUEZ ALBERTINA  Márgenes  Pesos
7                                CRUZ LUCIANA SOLEDAD  Márgenes  Pesos
8                            RAMIREZ FERNANDO GABRIEL  Márgenes  Pesos
9                             VILLARES DANIEL ALBERTO  Márgenes  Pesos
10                                       CAMPOS CARLA  Márgenes  Pesos
11                                 MITRE CARLA MELINA  Márgenes  Pesos
12                INSUMOS Y SERVICIOS INDUSTRIALES SA  Márgenes  Pesos
13                           BVSA SD RJ DELTA MONEDA   Márgenes  Pesos
14                       T R O P E A SOCIEDAD ANONIMA  Márgenes  Pesos
15                                  ARIS SILVIA MARIA  Márgenes  Pesos
16                     JP MORGAN OVERSEAS CAPITAL LLC  Márgenes  Pesos
17                  BANCO INDUSTRIAL SOCIEDAD ANONIMA  Márgenes  Pesos
18                      BANCO COMAFI SOCIEDAD ANONIMA  Márgenes  Pesos
19                                SERRANO JUAN CARLOS  Márgenes  Pesos
20                                    DISTRINANDO S A  Márgenes  Pesos
21                                GESTION LABORAL S A  Márgenes  Pesos
22  INDUSTRIAL AND COMMERCIAL BANK OF CHINA (ARGEN...  Márgenes  Pesos
23                                    SEGOVIA AGUSTIN  Márgenes  Pesos
24                                       MAPSA S.R.L.  Márgenes  Pesos
25                               GEAR S A A I C F E I  Márgenes  Pesos
26                                LA GOLDEN AGRO S.A.  Márgenes  Pesos
27                               MULTIPLO BURSATIL SA       MTM  Pesos
28      STENFAR S.A. INDUSTRIAL COMERCIAL IMP. Y EXP.  Márgenes  Pesos
29                            MAGRINI CLAUDIO ALBERTO  Márgenes  Pesos
30                                    TRANSINLAND SRL  Márgenes  Pesos
31                          MARTINEZ FERNANDO NICOLAS  Márgenes  Pesos
32                                 IRIARTE JUAN PABLO  Márgenes  Pesos
33                              MUSSA EDUARDO ALBERTO  Márgenes  Pesos
34  PROYECTO VIDA - LABORATORIOS RICHMOND FIDEICOM...  Márgenes  Pesos
35                             ZOFINGEN SECURITIES SA  Márgenes  Pesos
36                                   BANCO JULIO S.A.  Márgenes  Pesos

    Saldo Inicial  Movimientos Verificados  Ingreso No Verificado  \
0    8.226407e+06             0.000000e+00           0.000000e+00
1    1.627550e+06             0.000000e+00           0.000000e+00
2    2.731359e+07             5.244878e+04           0.000000e+00
3    9.039917e+05             0.000000e+00           0.000000e+00
4    1.100046e+06             0.000000e+00           0.000000e+00
5    1.434127e+06             0.000000e+00           0.000000e+00
6    7.861080e+05            -7.720450e+05           0.000000e+00
7    3.498880e+03             0.000000e+00           0.000000e+00
8    6.513287e+05             0.000000e+00           0.000000e+00
9    6.337982e+05             0.000000e+00           0.000000e+00
10   7.844396e+05             0.000000e+00           0.000000e+00
11  -2.423930e+03             0.000000e+00           0.000000e+00
12  -1.550025e+05             1.365421e+06           0.000000e+00
13   2.422571e+07             3.316800e+07           0.000000e+00
14   6.238900e+05             0.000000e+00           0.000000e+00
15   1.346955e+05             0.000000e+00           0.000000e+00
16   3.343075e+08             0.000000e+00           0.000000e+00
17   9.950400e+06             0.000000e+00           0.000000e+00
18   1.326206e+07             0.000000e+00           1.011400e+08
19   2.371149e+06             7.716861e+04           0.000000e+00
20   3.750614e+07             1.059177e+05           0.000000e+00
21   2.379917e+07             1.210488e+05           0.000000e+00
22   5.146880e+06             1.774878e+06           0.000000e+00
23   3.102662e+05             2.269660e+03           0.000000e+00
24   2.309298e+06             3.632580e+06           0.000000e+00
25   3.563980e+07            -1.226064e+07           0.000000e+00
26   1.036980e+06             0.000000e+00           0.000000e+00
27  -2.833890e+06             4.133890e+06           0.000000e+00
28   5.481679e+05             1.199205e+07           0.000000e+00
29   2.301483e+05             1.844889e+06           1.124584e+06
30   7.825678e+04             0.000000e+00           5.626422e+05
31   4.011680e+04             0.000000e+00           0.000000e+00
32   2.123018e+05             0.000000e+00           0.000000e+00
33   7.440788e+04             5.335232e+06           0.000000e+00
34   1.046400e+07             3.832000e+07           0.000000e+00
35   4.718880e+06             0.000000e+00           0.000000e+00
36   4.795674e+06             0.000000e+00           2.211200e+07

    Egreso No Verificado  Saldo Final Verificado  Saldo Final No Verificado  \
0          -3.100400e+02            8.226407e+06               8.226097e+06
1          -8.623680e+05            1.627550e+06               7.651815e+05
2          -8.371370e+06            2.736604e+07               1.899467e+07
3          -9.065537e+05            9.039917e+05              -2.561970e+03
4          -1.093120e+06            1.100046e+06               6.925950e+03
5          -1.430664e+06            1.434127e+06               3.462660e+03
6          -1.406300e+04            1.406300e+04               0.000000e+00
7          -3.264630e+03            3.498880e+03               2.342500e+02
8          -6.498617e+05            6.513287e+05               1.466960e+03
9          -6.314283e+05            6.337982e+05               2.369880e+03
10         -6.613376e+05            7.844396e+05               1.231020e+05
11         -3.782607e+04           -2.423930e+03              -4.025000e+04
12         -1.100000e+06            1.210418e+06               1.104183e+05
13         -5.197470e+07            5.739371e+07               5.419014e+06
14         -5.842900e+05            6.238900e+05               3.960000e+04
15         -5.639554e+04            1.346955e+05               7.830000e+04
16         -3.439618e+08            3.343075e+08              -9.654250e+06
17         -9.950400e+06            9.950400e+06               0.000000e+00
18         -1.017600e+08            1.326206e+07               1.264202e+07
19         -7.716861e+04            2.448317e+06               2.371149e+06
20         -1.059177e+05            3.761206e+07               3.750614e+07
21         -1.210488e+05            2.392022e+07               2.379917e+07
22         -1.774878e+06            6.921758e+06               5.146880e+06
23         -2.269660e+03            3.125359e+05               3.102662e+05
24         -2.801395e+06            5.941878e+06               3.140483e+06
25         -2.802056e+05            2.337916e+07               2.309895e+07
26         -9.814928e+05            1.036980e+06               5.548695e+04
27         -1.300000e+06            1.300000e+06               0.000000e+00
28         -1.196624e+07            1.254022e+07               5.739825e+05
29         -2.857500e+06            2.075037e+06               3.421210e+05
30         -6.407260e+05            7.825678e+04               1.729300e+02
31         -4.011680e+04            4.011680e+04              -2.000000e-03
32         -2.123018e+05            2.123018e+05               0.000000e+00
33         -5.335000e+06            5.409640e+06               7.463988e+04
34         -2.390400e+07            4.878400e+07               2.488000e+07
35         -4.718880e+06            4.718880e+06               0.000000e+00
36         -2.195200e+07            4.795674e+06               4.955674e+06

    Requerido Del Día  Saldo Consolidado Verificado  \
0        0.000000e+00                  8.226407e+06
1        2.896522e+04                  1.656515e+06
2       -1.070000e+07                  1.666604e+07
3        0.000000e+00                  9.039917e+05
4        0.000000e+00                  1.100046e+06
5        0.000000e+00                  1.434127e+06
6        0.000000e+00                  1.406300e+04
7        0.000000e+00                  3.498880e+03
8        0.000000e+00                  6.513287e+05
9        0.000000e+00                  6.337982e+05
10       0.000000e+00                  7.844396e+05
11       0.000000e+00                 -2.423930e+03
12       0.000000e+00                  1.210418e+06
13       0.000000e+00                  5.739371e+07
14       0.000000e+00                  6.238900e+05
15       0.000000e+00                  1.346955e+05
16       2.787890e+07                  3.621864e+08
17       0.000000e+00                  9.950400e+06
18       0.000000e+00                  1.326206e+07
19       0.000000e+00                  2.448317e+06
20       0.000000e+00                  3.761206e+07
21       0.000000e+00                  2.392022e+07
22       0.000000e+00                  6.921758e+06
23       0.000000e+00                  3.125359e+05
24       0.000000e+00                  5.941878e+06
25       0.000000e+00                  2.337916e+07
26       0.000000e+00                  1.036980e+06
27       0.000000e+00                  1.300000e+06
28       0.000000e+00                  1.254022e+07
29      -2.141250e+05                  1.860912e+06
30      -1.544750e+05                 -7.621822e+04
31       0.000000e+00                  4.011680e+04
32       0.000000e+00                  2.123018e+05
33       0.000000e+00                  5.409640e+06
34       0.000000e+00                  4.878400e+07
35       0.000000e+00                  4.718880e+06
36       0.000000e+00                  4.795674e+06

    Saldo Consolidado No Verificado  Persona ID  MC Cód. Tipo Cuenta
0                      8.226097e+06        6674      320          AN
1                      7.941467e+05        2309      218    Terceros
2                      8.294673e+06        8491      313    Terceros
3                     -2.561970e+03        6695      405    Terceros
4                      6.925950e+03        6695      405    Terceros
5                      3.462660e+03        6695      405    Terceros
6                      0.000000e+00        6695      405    Terceros
7                      2.342500e+02        6695      405    Terceros
8                      1.466960e+03        6695      405    Terceros
9                      2.369880e+03        6695      405    Terceros
10                     1.231020e+05        6695      405    Terceros
11                    -4.025000e+04        6695      405    Terceros
12                     1.104183e+05        9244      419    Terceros
13                     5.419014e+06       11188      323    Terceros
14                     3.960000e+04       12490      329    Terceros
15                     7.830000e+04       12490      329    Terceros
16                     1.822465e+07       14559      325         CEL
17                     0.000000e+00       13789      334    Terceros
18                     1.264202e+07       22914      345    Terceros
19                     2.371149e+06       22914      345    Terceros
20                     3.750614e+07       22914      345    Terceros
21                     2.379917e+07       22914      345    Terceros
22                     5.146880e+06       22914      345    Terceros
23                     3.102662e+05       22914      345    Terceros
24                     3.140483e+06       15117      320          AN
25                     2.309895e+07       24906      475    Terceros
26                     5.548695e+04       30241      354    Terceros
27                     0.000000e+00       34190      320          AN
28                     5.739825e+05       15167      320          AN
29                     1.279960e+05      602994      320          AN
30                    -1.543021e+05      602994      320          AN
31                    -2.000000e-03       34190      320          AN
32                     0.000000e+00        9887      168    Terceros
33                     7.463988e+04       29655      320          AN
34                     2.488000e+07        4533      383    Terceros
35                     0.000000e+00       30241      354      Propia
36                     4.955674e+06        4873        5      Propia

In [127]:
df["TIENE SALDO?"] = (df["Saldo Inicial"] + df["Egreso No Verificado"] + df["Requerido Del Día"])

In [ ]:
def highlight_greaterthan(s, threshold, column):
    is_max = pd.Series(data=False, index=s.index)
    is_max[column] = s.loc[column] >= threshold
    return ['background-color: green' if is_max.any() else '' for v in is_max]


df.style.apply(highlight_greaterthan, threshold=1.0, column=['TIENE SALDO?'], axis=1)

def sinsaldo(s, threshold, column):
    is_max = pd.Series(data=False, index=s.index)
    is_max[column] = s.loc[column] < threshold
    return ['background-color: red' if is_max.any() else '' for v in is_max]

df.style.apply(highlight_greaterthan, threshold=1.0, column=['TIENE SALDO?'], axis=1)

In [132]:
def highlight_rows(row):
    value = row.loc['TIENE SALDO?']
    if value < 0:
        color = '#FF0000' # Red
    elif value > 0:
        color = '#027d0d' # Green
    else:
        color = '#bfc213' # Blue
    return ['background-color: {}'.format(color) for r in row]

df.style.apply(highlight_rows, axis=1)